<?xml version="1.0"?>
<ProxyConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Proxy>
    <Host>127.0.0.1</Host>
    <Port>8899</Port>
  </Proxy>
  <ParentProxy>
    <Host></Host>
    <Port>0</Port>
    <UserName></UserName>
    <Password></Password>
    <Domain></Domain>
  </ParentProxy>
  <Filters>
    <Enable>true</Enable>
    <RewriteList>
      <Rewrite>
        <Url>http://ajax.googleapis.com/(.*)</Url>
        <MapTo>http://ajax.useso.com/$1</MapTo>
        <EnableRegex>true</EnableRegex>
      </Rewrite>
    </RewriteList>
    <ReplaceList>
      <Replace>
        <Url>http://www\.alixixi\.com/Dev/Web/ASPNET/aspnet1/2007/2007070764829\.html</Url>
        <OldValue>
         <![CDATA[<script.*?</script>]]>
        </OldValue>
        <NewValue> </NewValue>
        <EnableRegex>true</EnableRegex>
      </Replace>
    </ReplaceList>
    <AppendList>
      <Append>
        <Url>http://www.baidu.com/</Url>
        <Content><![CDATA[<h1>I love script</h1>]]></Content>
        <EnableRegex>false</EnableRegex>
      </Append>
    </AppendList>
  </Filters>
</ProxyConfig>